@import '../../baseStyles/base.scss';

.container{
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 26px;
    color: #fff;
    span{
        font-size: 26px;
        font-weight: 900;
    }
    @media(max-width: 992px){
        &{
            column-gap: 10px;
        }
        span{
            font-size: 20px;
        }
    }
}



.header{
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px 0;
    z-index: 2;
    overflow-x: scroll;
    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 70px;
        @media(max-width: 992px){
            &{
                flex-direction: column;
                row-gap: 15px;

            }
        }
    }
    &__left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 100px;
        @media(max-width: 992px){
            &{
                column-gap: 30px;

            }
        }
    }

    &__nav{
        .header__nav-list{
            display: flex;
            align-items: center;
            column-gap: 60px;
            li a{
                color: #fff;
                opacity: .9;
                transition: all .3s ease-in-out;
                &:hover{
                    opacity: 1;
                }
            }
            li a.active{
                text-decoration: underline dotted #fff;
            }
            @media(max-width: 992px){
                &{
                    column-gap: 20px;
                }
            }
        }
    }

    &__options{
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 50px;
        z-index: 10;
        // Magnify
        .search-box{
            position: relative;
            height : 100%;
          .search-btn{
            color : #4097FF;
            float : right;
            width : 40px;
            height : 40px;
            border-radius: 50%;
            display:flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition:0.4s;
          }
          .search-txt{
            border:none;
            border-bottom: 1px solid rgba(255, 255, 255, .8);
            background:none;
            outline:none;
            float:left;
            padding:0;
            color: #fff;
            font-size:16px;
            transition : all 0.4s;
            line-height: 40px;
            width : 0px;
          }

        }
        .search-txt.active{
          width: 170px;
        }

        .basket{
            cursor: pointer;
        }
    }

}

.search-txt{
    border:none;
    border-bottom: 1px solid rgba(47, 47, 47, 0.8);
    background:none;
    outline:none;
    float:left;
    padding:0;
    color: #1a1a1a;
    font-size:16px;
    transition : all 0.4s;
    line-height: 40px;
    width : 0px;
}
.search-txt.active{
  width: 170px;
}
