@import '../../baseStyles/base.scss';


.footer{
    position: absolute;
    bottom: -160px;
    background: #0b1a0b;
    @media(max-width: 768px){
        &{
            bottom: -280px;
        }
    }
    &__body{
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 768px){
            &{
                flex-direction: column;
                row-gap: 30px;
            }
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        li a{
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            opacity: .9;
            transition: all .3s ease-in-out;
            &:hover{
                opacity: 1;
            }
        }
        li a.active{
            text-decoration: underline dotted #fff;
        }
    }

    p{
        font-size: 13px;
    }
}

