@import '../../baseStyles/base.scss';


.all-cards{
    margin-top: 50px;
}

.cards__list-page{
    display: grid;
    grid-template: 1fr / repeat(3, 24%);
    justify-content: center;
    gap: 30px;
    @media(max-width: 1000px){
        &{
            grid-template: repeat(3, auto) / 1fr;
        }
    }
    .cards__li{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 24px;
        color: #fff;
        border-radius: 30px;
        box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
        border: 1px solid #e4e4e4;
        img{
            position: relative;
            top: -60px;
            width: 100%;
        }
        .cards__title{
            color: #fff;
            opacity: .9;
            font-size: 32px;
            font-weight: 500;
            transition: all .3s ease-in-out;
            margin-top: auto;
            &:hover{
                opacity: 1;
            }
        }
        p{
            margin: 30px 0;
            font-size: 24px;
        }
        .card__li-options{
            display: flex;
            align-items: center;
            column-gap: 50px;
        }
        .cards__price{
            font-size: 34px;
            font-weight: 600;
        }
    }

    .cards__loading-btn{
        grid-column: 2 / 3;
        margin: 0 auto;
        background: rgba(255, 255, 255, .95);
        color: #72ff83;
        transition: all .2s ease-in-out;
        &:hover{
            background: rgba(255, 255, 255, 1);
        }
    }
}

.cards__basket{
    position: relative;
    .card__li-count{
        position: absolute;
        left: 110%;
        top: 0;
    }
}